<%- include('./Templates/headerTemplate')-%>
    <div class="container">
        <div id="root"></div>

    </div>
    <script src="JavaScript/CartList.js">
    </script>
    <%- include('./Templates/footerTemplate')-%>