<%- include('./Templates/headerTemplate')-%>


    <div class="container   ">

        <div class="row  ">


            <div id="root" class="col">

            </div>
        </div>
    </div>
    <script src="JavaScript/search.js"></script>


    <%- include('./Templates/footerTemplate')-%>